html {
  height: 100%;
  width: 100%;
}
/* p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
/* p{
  color: red;
  font-size: 32;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h5{
  background-color: pink;
  font-size: 55px;
  border: 2px dashed green;
}

#img-rounded-border {
     border: 10px solid #8c00ff;
     border-radius: 10px;
}

#img-rounded-border1 {
     border: 10px solid #d4ff00;
     border-radius: 10px;
}

.class-rounded-border {
     border: 10px solid #ff00d0;
     border-radius: 10px;
} */